* {
  line-height: 1.5em;
  box-sizing: border-box;
}

body {
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
  font-size: 32px;
  margin: 1%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  // background-color: #F2F2F2;
}

main {
  max-width: 70ch
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1:first-child {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.tag-link {
  text-decoration: none;
}

.back-link {
  text-decoration: none;
  color: initial;
}

a {
  text-decoration: underline;
  color: blue;
}

a:visited {
  color: purple;
}

a:not(.tag-link) {
  color: initial
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.list li {
  margin-bottom: 2rem;
}

stamp {
  font-size: 26px;
}

p {
  margin-top: 0rem;
}