{{ partial "header.html" . }}
{{ .Content }}

<ul class="list">

  {{ range (where .Data.Pages ".Params.unlisted" "!=" "true") }}


  <li>

    {{ $terms := (.GetTerms "tags") }}
    {{ range $key, $value := $terms }}
    <a class="tag-link" href="{{ .Permalink }}">
      <stamp>[{{ .Title | lower }}{{ if ne $key (sub (len $terms) 1) }}{{ end }}]</stamp>
    </a>
    {{ end }}
    {{ .Content }}

  </li>


  {{ end }}
</ul>

{{ partial "footer.html" . }}