<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="julien rippinger - {{ .Site.BaseURL }}">
    <title>{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description"
        content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <link rel="canonical" href="{{ .Permalink | absURL }}">
    <link rel="alternate" type="application/atom+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}atom.xml" />
    <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}feed.json" />
    <link rel="stylesheet" type="text/css" href="{{ " fonts/style.css" | absURL }}" />
    {{ $styles := resources.Get "scss/styles.scss" | toCSS (dict "outputStyle" "compressed") | minify }}
    <style>
        {{$styles.Content | safeCSS}}
    </style>
    <script async src="https://skia.tiefen.eu/script.js" data-website-id="59987602-1e9e-445f-a7b9-1e53e9da99df"></script>
</head>


<body >
<main>

    <header>
        {{ if not .IsHome }}<h1><a class="back-link" href="/">↩</a></h1>{{ end }}
        <span>{{ .Site.Params.description }}</span>
    </header>