{{/* layouts/taxonomy/list.html */}}

{{ partial "header.html" . }}


<ul class="list">
    {{ range .Pages }}
    <li>

        {{ .Content }}

    </li>
    {{ end }}
</ul>


{{ partial "footer.html" . }}